.icon {
  width: 21px;
  height: 21px;
}

@media (min-width: 768px) {
  .icon {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1024px) {
  .icon {
    width: 34px;
    height: 34px;
  }
}
